html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=2ahUKEwj9qpvOhNHjAhXRAxAIHbGQDO0QFjAAegQIAxAB&url=https%3A%2F%2Fstackoverflow.com%2Fquestions%2F6703228%2Fhow-to-force-a-list-to-be-vertical-using-html-css%2F38097067&usg=AOvVaw1mbZdi6xY5mQbQjGzhtItv
}

@media (max-width: 610px){
  header {
    height: 50px;
  }

  #menubar {
    position: relative;
    float: right;
  }

  #menu {
    display: none;
  }

  .dropdown {
    display: inline;
  }

  .dropbtn:hover, .dropbtn:focus, .dropbtn {
    background-color: #F0EFEF;
  }

  .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* for vertical align on mobile */
    margin: 0; /* dito */
  }

  .dropdown:hover .dropbtn {
    background-color: #FFA500;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: #FFA500;
    min-width: 98%;
    z-index: 1;
  }

  .dropdown-content a {
    padding: 13px 13px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #FFA500;
    color: #FFF;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .menu_icons {   
    padding: 15px 12px;
  }

  .logo {
    float: left;
    width: 85px;
    display: inline;
    padding-left: 10px;
  }

  #add_location {
    padding: 7px;
  }

  .corner-ribbon {
    width: 250px;
    bottom: 30px;
    left: -60px;
  }

  .corner-ribbon img {
    height: 30px;
  }

  .footer_big {
    display: none;
  }
}

@media (min-width: 611px){
  header {
    height: 60px;
  }

  #menubar {
    display: block;
    text-align: right;
    position: relative;
  }

  #menubar ul {
    float: left;
    list-style: none;
    padding-top: 25px;
    padding-left: 10px;
  }

  #menu li {
    margin: 15px;
  }

  .dropdown {
    display: none;
  }

  .menu_icons {
    width: 30px;
    padding: 15px;
  }

  .logo {
    display: inline;
    float: left;
    padding: 1%;
    width: 15%;
  }

  #add_location {
    padding: 10px;
  }

  .corner-ribbon {
    width: 300px;
    bottom: 40px;
    left: -80px;
  }

  .corner-ribbon img {
    height: 40px;
  }

  .footer_small {
    display: none;
  }
}

body { 
  font: normal 1em "Noto Sans", sans-serif;
}

header {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 100;
}

#add_location {
  position: fixed;
  margin-top: 30px;
  right: 0;
  border-style: none;
  background: rgba(255, 255, 255, 0.7);
  font: normal 0.6em "Noto Sans", sans-serif;
}

#add_location:hover {
  background: rgb(255, 165, 0);
  color: white;
}

.rotated {
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  transform-origin: bottom right;  
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font: normal .8em "Noto Sans", sans-serif;
}

#modalLocation h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2em;
}

.locQuestion {
  margin-top: 20px;
  font-size: 0.9em;
}

.locQuestionItalic {
  color: grey;
  font-size: 0.7em;
  font-style: italic;
}

.modal textarea, .modal input {
  margin-top: 5px;
  padding: 5px;
  font-weight: 0.8em;
  width: 97%;
  border-style: solid;
  border-width: 1px;
}

.inputImage {
  border-color: lightgrey; 
}

#submit {
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  border: none;
  background: lightgrey;
}

.modal-content {
  background-color: #FFF;
  margin: auto;
  padding: 20px;
  border: none;
  max-width: 450px;
  margin-bottom: 65px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#submit:hover {
  background: #FFA500;
}

a { 
  outline: none;
  text-decoration: underline;
  color: #000;
}

a:hover { 
  text-decoration: none;
}

li { 
  list-style: none;
  display: inline;
}

li a { 
  letter-spacing: 0.1em;
  text-decoration: none;
} 

li a:hover, li.selected a {
  color: #FFA500;
}

.selected {
  color: #FFA500;
}

.menu_icons:hover {
  background-color: #FFA500;
}

.link_icons {
  text-decoration: none;
}

.content {
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
}

.content h1 {
  font-family: "Fjalla One";
  font-weight: normal;
  margin-bottom: 5%;
}

.content p {
  line-height: 1.4;
}

.content li {
  margin-right: 40px;
}

.content li p {
  letter-spacing: 0.1em;
  display: inline;
}

.content h4 {
  font-family: "Fjalla One";
  display: inline;
  margin-right: 10px;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 5%;
}

#error {
  font-size: 1.5em;
}

.corner-ribbon {
  top: auto;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: white;
  z-index: 1;
  position: fixed;
}

.corner-ribbon a {
  text-decoration: none;
}

#footer { 
  width: 100%;
  padding-bottom: 10px;
  background: white;
  font: normal .5em "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

#footer hr {
  background-color: lightgrey;
  height: 1px;
  border: 0;
  margin-bottom: 10px;
}

#footer p {
  margin-left: 10px;
  margin-right: 10px;
}

#footer a { 
  text-decoration: none;
}

#footer a:hover { 
  text-decoration: underline;
}