html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

body { 
  font: normal .80em arial, sans-serif;
}

p { 
  line-height: 1.7em;
}

a { 
  outline: none;
  text-decoration: underline;
  color: #000;
}

a:hover { 
  text-decoration: none;
}

ul {
  padding-top: 2%;
  padding-bottom: 2%;
}

li { 
  list-style: none;
  display: inline;
  padding-right: 8%;
}

li a { 
  letter-spacing: 0.1em;
  color: #ABABAB;
  text-decoration: none;
} 

li a:hover, li.selected a, li.selected a:hover { 
  color: #000; 
}

#main { 
}

#header {
  width: 50%;
  margin-right: 0;
  padding: 1%;
  position: fixed;
  z-index: 1000;
}

#logo { 
  margin-right: 2%;
  float: right;
  display: block;
  overflow: hidden;
}

#menubar {
  width: 200px;
  float: right;
  display: block;
  overflow: hidden;
  background: white;
  padding: 2%;
}

#content {
  display: block;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

#footer { 
  padding: 1%;
  width: 100%;
  font: normal .50em arial, sans-serif;
  letter-spacing: 0.1em;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

#footer a { 
  text-decoration: none;
}

#footer a:hover { 
  text-decoration: underline;
}

/* FIXME
.search { color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;
}*/